# Rename to .env and fill with your own values
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Password123@
DB_NAME=gazfa
# Optional: Change to desired port
PORT=3000
#lo que se requiere para poder conectar a la base de datos, el host, el usuario, la contraseña y el nombre de la base de datos. Estos valores deben coincidir con la configuración de tu base de datos MySQL. Además, puedes cambiar el puerto en el que se ejecuta el servidor si lo deseas.